<!DOCTYPE html>
<html>
	<head>
		<title>勝締威寢具後台管理系統</title>
		<meta charset='utf-8'>
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js'></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href='/css/index.css'>
		<style>
			
		</style>
	</head>
	<body>
		<header>
		</header>
		<div class="nav">
			<div class='col-sm-3 col-md-3'>
				<ul class='menu' id='list'>
					<li id='insert'>
						新增資料
					</li>
					<li id='raw-status'>
						原物料狀態
					</li>
					<li id='invetory'>
						庫存成品狀態
					</li>
				</ul>
			</div>
		</div>
			<div class='col-md-10'>
				<form id='insert_form1' name='insert_form1' action="/New.py" method="post">
					<table>
						<tr>
							<td>
								品名：
							</td>

							<td>
								<input type='text' size='50'>
												
								</input>
							</td>
						</tr>
						<tr>
							<td>
								庫存量：
							</td>
							<td>
								<input type="text" size="50">
								</input>
							</td>
						</tr>
					</table>
				</form>
			</div>
		<footer>
		</footer>
	</body>
</html>
